/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }



/* 리디 바탕체 */
/*
@font-face {

    font-family: 'RIDIBatang';

    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}
*/


html {
	
    background: linear-gradient(to bottom, white, skyblue);

    /* 방향 = to bottom, to right, to left, to top */

    height: auto;
    
}

body {
	background: transparent;
}

a,
a:hover,
a:focus {
	color: #f0f0f0;
}


/* 검색창 */



header #right-search-form>input[type=text] {

    border: 3px solid #A9D0F5; /* 검색창 테두리 색 */


}



/* 검색 버튼 */



header #right-search-form>#right-search-btn {

    color: #A9D0F5; /* 검색창 옆 돋보기 색 */

}



/* 배너 */


header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {

    border-radius: 15px;

}


/* 광고 배너 */


header #header-bar>.row {

    border: 3px solid #A9D0F5;  /*!important; 광고 배너 테두리 색*/
    /* border: 1px solid #FFFFFF; 광고 배너 테두리 색 */

}



/* 광고 배너 광고 뱃지 */


header #header-bar #header-top-notice strong.notice-badge {

    background: #FFFFFF; /* 광고 배너 광고 뱃지 배경 색상 (전광판)*/

}



/* 편지아이콘 및 사용자 아이콘 위치 조정 */


header #header-bar #header-menu-right.col-xs-2 {
	
    width: 16%;
    
}



/* 좌측 배너 */



#main .menu-wrapper {

    border: 3px solid #A9D0F5; /* 좌측 메뉴 테두리 색 */

}



/* 좌측 배너 헤더 */



#main .menu-wrapper>.header {

    background: #A9D0F5; /* 좌측 배너 제목 배경 색 */

}


#main .menu-wrapper > a {
	
  display: block;
  background: #fff;
	padding: 6px 2px;
	text-decoration: none;
	color:#313131;
	border-bottom: 1px	solid	#f1f1f1;
	
}


/* 좌측 배너 빈 공간 */



#main .menu-wrapper .spacer {

    background: none;

}



/* 메인 배너 */



#main #main-content>div.frame {

    border-top: 3px solid #A9D0F5  !important; /* 메인 배너 테두리 스트리머 이름 위 공간*/

    border: 3px solid #A9D0F5; /* 메인 배너 테두리 */

}



/* 접속자 수 */

#board-info #score-area {
	
	color: #FFFFFF;
}

#board-info #viewers-area {

    color: #FFFFFF; /* 접속자 수 글씨 색 */

}



/* 프로필 테두리 동그랗게 만들기 */


#board-info #board-info-profile-img {

    width: 70px;

    border-radius: 100px;

    border: solid 3px #A9D0F5;

    background: #FFFFFF;

    position : absolute;

    top : 7px;

    z-index: 1;

}


/* 게시판 이름 마진 주기 */


#board-info h1 {

    margin-left: 85px

}


/* 즐겨찾기 , 소개, 채널, 스케줄, 클립 버튼들 마진 */


#board-info #board-info-bottom {

    margin-left: 85px;

}


/* 즐찾, 소개, 채널, 스케줄, 클립 버튼들 색 변경 */


#board-info #board-info-bottom a {

  color: #151515;

}

/* 카테고리 쪽 맨 우측 공지 가리기 모양 둥글게 및 위치 조정 */


#article-list #article-option-area>#article-option-area-toggle-btn {
	
	/* border-radius: 25px; */
	background-color: #FFFFFF;
	margin-left: -50px;
	margin-top: 5px;

}



/* 메인 배너 글 공지 */



#article-list>.article-list-row.notice {

    background-color: #FBEFF8; /* 공지 배경 색 */

}

/* 인기글 배경색 */


#article-list>.article-list-row.hot {
	
    background-color: #EFF2FB;
    
}


/* 카테고리 테두리 그리기 */

#article-list #article-list-category {
	
    border-top: 3px solid #A9D0F5;
    
    border-bottom: 3px solid #A9D0F5;
    
    background-color: #fffafa00;
    
}

/* 카테고리 내부 패딩 + 글꼴 */

#article-list #article-list-category > a {
	
    display: inline-block;
    
    padding: 14px 18px;
    
    background: #d4eeff55;
    
    text-decoration: none;
    
    font-size: 12px;
    
    font-weight: bold;
    
}


/* 본문 테두리 오른쪽 제거 */

#article-list > .article-list-row {
    
    border-right: 0px;
    
}

/* 집 색깔 진하게 만들기 */

a {
    color: #337ab7;
}

/* 글 추천 버튼 */



.vote-btn[data-type="up"] {

  border: none;

  font-size: 0;

  outline: 0 !important; 

}



.vote-btn[data-type="up"]:hover {

  background: none !important;

}



.vote-btn[data-type="up"]::before {

  display: inline-block;

  background: white;

  border: solid #5CB85C 1px;

  float: left;

  width: 60px;

  height: 60px;

  border-radius: 60px;

  font-size: 26pt;

  content: "\f164";

  padding-top: 17px;

  padding-left: 2px;

  font: normal 22px/1 FontAwesome;

  -moz-transition:color .2s ease;

  -o-transition:color .2s ease;

  -ms-transition:color .2s ease;

  -webkit-transition:color .2s ease;

  transition:color .2s ease;

}



.vote-btn[data-type="up"]:hover::before {

  background: #5CB85C;

  color: white;

}



.vote-btn[data-type="up"]:focus::before {

  color: #5CB85C;

}



.vote-btn[data-type="up"]:focus:hover::before {

  color: white;

}



.vote-btn[data-type="up"] span {

  float: left;

  padding-top: 14px;

  padding-left: 15px;

  font-size: 22px;

  color: #5CB85C;

}

/* 글 추천 수 */



#article-list>.article-list-row>.item>.list-header>span {

    background-color: #9F81F7; /* 글 추천 수 배경 색 */

}



/* 댓글 수 */



#article-list>.article-list-row>.item>.list-title>small.comment-count {

    color: #; /* 댓글 수 색 */

}



#article-reply-area > .header h5 {

    color: #; /* 댓글 수 색 */

}



/* 인기글 버튼 */



#article-list #article-list-menu>.btn.best {

    border-radius: 0px;
    
    font-weight: bold;

}


/* 설정 버튼 */



#article-list #article-list-menu>.btn.cog {

    border-radius: 0px;
    
    font-weight: bold;

}



/* 삭제 버튼 */



#article-list #article-list-menu>.btn.del {

    border-radius: 0px;
    
    font-weight: bold;

}



/* 글 쓰기 버튼 */

#article-list #article-list-menu > .btn.write {
	
    border-radius: 0px;
    
    font-weight: bold;
    
}


.btn-primary {

    background-color: skyblue; /* 글 쓰기 버튼 배경 색 */

    border-color: #; /* 글 쓰기 버튼 배경 색 */

}

/* 진은검 아이콘 삭제 */



img[src="https://static-cdn.jtvnw.net/chat-badges/mod.png"] {

    display: none;

}



/* 인기글 별 돌리기 */



@keyframes binglebingle {
	
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }

} 

span.a-badge i.fa.fa-star {
	
	animation: binglebingle 4s infinite;
	
}


/* 하트 두근두근 효과 주기 */


small.favo i.fa.fa-heart {

    animation: heartbeat 1s infinite;

}


@keyframes heartbeat {

    0% { transform: scale(1); }

    30% { transform: scale(1.25); }

    42% { transform: scale(0.9); }

    60% { transform: scale(1.15); }

    85% { transform: scale(0.95); }

    100% { transform: scale(1); }

}



/* dropdown transition */

.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {
  opacity: unset;
  transform: unset;
  border: 1px solid #A9D0F5;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
  display: block !important;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  transition: all 0.3s cubic-bezier(0.2, 1.5, 0, 1);
  padding: 8px 0 3px 0px;
}
.dropdown-menu>li>a {
  transition: .1s;
}
.dropdown-menu>li>a:hover {
  background: transparent;
  transform: scaleX(1.04);
  transition: .1s;
}